.deleteMessageContainer {
  background-color: var(--custom-blue);
  color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto 100px auto;
  text-align: center;
  max-width: 400px;
}
.cancelBtn,
.deleteBtn {
  border: 1px solid black;
  width: 180px;
  min-height: 38px;
  margin: 10px auto 5px auto;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.messageHide {
  display: none;
}
@media (min-width: 600px) {
  .deleteMessageContainer {
    max-width: 600px;
  }
  .btnContainer {
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
  }
}
