@import '../../styles/customColors.css';
.changeAvatarForm {
  display: flex;
  flex-direction: column;
  border: 2px dotted black;
}
.exitForm {
  width: 30px;
  height: 30px;
  margin: 0 0 10px auto;
  background-color: rgb(255, 255, 255);
  border: 0;
  font-size: 1.2em;
}
.exitForm:hover {
  background-color: var(--custom-yellow);
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 200px;
}
.inputWrapper input {
  height: 25px;
}
.response {
  max-width: 200px;
  margin: 0 auto;
}
.responseHide {
  display: none;
}
.hideForm {
  display: none;
}
