@import '../../styles/customColors.css';
.filterMenu,
.filterMenuClosed {
  min-width: 80vw;
  background-color: var(--custom-blue);
  color: white;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterMenuClosed {
  display: none;
}
.filterMenuContentContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.closeMenu {
  text-align: end;
  font-size: 1.5em;
  width: 100%;
  cursor: pointer;
}
.filterMenu h3,
.filterMenuClosed h3 {
  text-align: center;
}
.filterMenu p {
  margin: 1em auto 0.5em 4px;
}
.checkboxContainer {
  margin: 5px auto;
  display: flex;
  align-items: center;
}
.amountOfGuestsAndSortCon {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 16px auto 8px auto;
}
.amountOfGuestsAndSort {
  height: 30px;
  width: 160px;
  color: black;
}
@media (min-width: 601px) {
  .filterMenu,
  .filterMenuClosed {
    min-width: fit-content;
    border-radius: 0;
    display: block;
  }
  .closeMenu {
    display: none;
  }
  .filterMenu p,
  .filterMenuClosed p,
  .checkboxContainer {
    font-size: 1.2em;
  }
}
