.specificSection {
  margin-top: 200px;
}
.specificSectionLoading {
  margin: 200px auto;
}
@media (min-width: 600px) {
  .specificSection {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto auto;
    align-items: start;
    justify-items: center;
    margin: 200px auto 0 auto;
  }
}
@media (min-width: 850px) {
  .specificSection {
    grid-template-columns: 425px 425px;
    max-width: 850px;
  }
}
