@import '../../styles/customColors.css';
.successOverlay {
  background-color: var(--success-blueBg);
  width: 80vw;
  margin: 0 auto;
  padding: 0 5px;
  position: absolute;
  border: 5px solid var(--success);
  color: black;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.successMessage {
  margin: 0 40px;
}
.exitBtn {
  width: fit-content;
  font-size: 1.2em;
  margin: 0 0 0 auto;
  cursor: pointer;
}
.linkBtn {
  margin-bottom: 0;
}
.closeBtn {
  margin: 0 auto 30px auto;
  font-size: 1.2em;
  text-decoration: underline;
  cursor: pointer;
}
.closeBtn:hover,
.exitBtn:hover {
  color: var(--success);
}
@media (min-width: 601px) {
  .successOverlay {
    width: 500px;
  }
}
