.imageAndBtnWrapper {
  text-align: center;
}
.profilePicture {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.profilePictureCon {
  width: 200px;
  height: 200px;
  margin: 20px auto 0 auto;
}
.changeProfilePictureBtn {
  background-color: var(--custom-yellow);
  min-width: 130px;
  min-height: 30px;
  border: 1px solid black;
  padding: 0;
  border-radius: 5px;
  margin: 10px auto 20px auto;
}
.changeProfilePictureBtn:hover {
  background-color: white;
}
@media (min-width: 600px) {
  .profilePictureCon {
    width: 250px;
    height: 250px;
    margin: 20px auto 0 auto;
  }
}
