.editForm {
  background-color: var(--custom-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  border-radius: 5px;
  margin: 0 auto 50px auto;
  border: 2px solid var(--custom-yellow);
}
.inputWrapper {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin: 10px auto;
}
.inputWrapper textarea,
.inputWrapper input {
  width: 214px;
  border: 1px solid black;
  border-radius: 5px;
}
.addImageWrapper {
  display: flex;
}
.addImageWrapper input {
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.addImageWrapper button {
  background-color: var(--custom-yellow);
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}
.inputWrapper input {
  height: 27px;
}
.errorCon {
  margin-top: 15px;
}
.imageLinkInfo {
  display: block;
}
.imageLinkHide {
  display: none;
}
.included div {
  margin: 5px auto 5px auto;
}
.included h4 {
  margin: 0;
}
.headingH3 {
  text-align: center;
}
.imageLink {
  word-wrap: break-word;
  color: var(--success-blueBg);
}
.imageLink:hover {
  cursor: pointer;
  color: var(--error-blueBg);
}
.deleteBtn {
  margin: 10px 0 0 auto;
  width: 130px;
  height: 28px;
}
@media (min-width: 600px) {
  .editForm {
    max-width: 600px;
  }
}
