.editForm {
  background-color: var(--custom-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  border-radius: 5px;
  margin: 0 auto 50px auto;
  border: 2px solid var(--custom-yellow);
}
.errorCon {
  margin-top: 15px;
}
.headingH3 {
  text-align: center;
  margin-bottom: 0;
}
.deleteBtn {
  margin: 10px 0 0 auto;
  width: 130px;
  height: 28px;
}
@media (min-width: 601px) {
  .editForm {
    max-width: 596px;
  }
}
