@import '../../styles/customColors.css';
.bookSection {
  color: white;
  border-radius: 5px;
  margin: 0 auto 150px auto;
  background-color: var(--custom-blue);
  width: 80vw;
  padding: 50px 10px;
  text-align: center;
  position: relative;
}
.BookSectionInputAndLabel {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: start;
  margin: 10px 0;
}
.BookSectionInputCon {
  display: flex;
  flex-direction: column;
}
.BookSectionInputCon p {
  margin: 10px auto 2px auto;
}
.arrow {
  font-size: 1.5em;
  display: none;
}
.total p {
  margin-bottom: 0;
  font-size: 1.2em;
}
.BookSectionAmountOfGuests {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 5px;
  font-size: 1.2em;
  border: 1px solid black;
}
.amountOfGuestsCon p {
  text-align: center;
}

.BookSectionAmountOfGuests p {
  margin: 0 5px;
  padding: 5px 0px;
  height: 100%;
}
.plusButton,
.minusButton {
  margin: 0;
  width: 30px;
  border: 0;
  border-radius: 5px 0 0 5px;
}
.plusButton {
  border-radius: 0 5px 5px 0;
}
.maxGuestsLabel {
  margin: 1em 0 5px 3px;
  text-align: start;
}
.plusButton:hover,
.minusButton:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.AllInputWrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}
.calendarCon {
  margin-top: 20px;
}
.hideSuccessOverlay {
  display: none;
}
.datePickerError {
  border: solid 2px var(--error-blueBg);
}
.total {
  margin-bottom: 0;
}
.errorCheckInAndOut {
  color: var(--error-blueBg);
}
.errorMessage {
  color: var(--error-blueBg);
  margin: 0 40px;
}
.success {
}
@media (min-width: 600px) {
  .arrow {
    display: block;
  }
  .bookSection {
    width: 600px;
    padding: 50px 0px;
  }
  .amountOfGuestsCon {
    width: 320px;
    margin: 10px auto;
  }
  .calendarCon {
    margin-top: 0;
  }
  .calendars {
    width: 400px;
    justify-content: space-around;
    display: flex;
    align-items: end;
  }
}
@media (min-width: 850px) {
  .bookSection {
    width: 840px;
  }
}
