.avatarNav {
  display: flex;
  align-items: center;
  color: white;
}
.faChevronDown {
  margin-left: 5px;
}
.avatarNav img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid var(--custom-yellow);
}
.displayNone {
  display: none;
}
@media (min-width: 601px) {
  .avatarNav {
    display: flex;
    justify-content: center;
  }
  .avatarNav img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 651px) {
  .avatarNav {
    width: 106px;
    display: flex;
    justify-content: center;
  }
}
