@import '../../styles/customColors.css';
.venueCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 260px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
  margin: 30px auto;
  background-color: white;
  color: black;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.venueCard:hover {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
  transition-delay: 0.3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.venueCard h3 {
  margin: 0 auto 5px auto;
  background-color: var(--custom-blue);
  width: 100%;
  color: white;
  padding: 5px 0;
}
.loactionContainer {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
.venueCard p {
  margin: 5px auto;
  text-wrap: wrap;
}
.loactionContainer p {
  margin: 0 0 0 5px;
}
.imgCon {
  max-width: 260px;
  height: 200px;
}
.imgCon img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
}
.starAndPersonContainer {
  display: flex;
  max-width: fit-content;
  justify-content: space-around;
  width: 200px;
  margin: 0 auto;
}
.personCon,
.starCon {
  margin-left: 10px;
}
.person,
.star {
  margin-left: 2px;
}

.priceCon {
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.priceCon p {
  margin: 10px 0 0 5px;
}
.price {
  font-size: 1.2em;
  font-weight: bold;
}
.included {
  display: flex;
  font-size: 0.8em;
  margin: 0 auto;
  max-width: 100%;
}
.included p {
  border-radius: 5px;
  width: 56px;
  padding: 2px 1px;
  margin: 5px 5px 10px 5px;
}
.breakfast {
  background-color: #8610e0;
  color: white;
}
.pets {
  background-color: #1021e0;
  color: white;
}
.parking {
  background-color: #7a5000;
  color: white;
}
.wifi {
  background-color: #394759;
  color: white;
}
.venueAndBtnCon {
  display: flex;
  flex-direction: column;
}
.noResults {
  margin: 50px auto;
  font-size: 1.5em;
  text-align: center;
}
@media (min-width: 600px) {
  .venueCard {
    margin: 30px 30px 30px 30px;
  }
  .venueCardSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
