.noResults {
  margin: 50px auto;
  font-size: 1.5em;
  text-align: center;
}
.venueAndBtnCon {
  display: flex;
  flex-direction: column;
}
@media (min-width: 601px) {
  .venueCardSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
