.notLoggedInContainer {
  color: white;
  border-radius: 5px;
  margin: 0 auto 100px auto;
  background-color: var(--custom-blue);
  width: 80vw;
  padding: 50px 10px;
  text-align: center;
}
.notLoggedInContainer p {
  max-width: 300px;
  margin: 20px auto;
}
@media (min-width: 600px) {
  .notLoggedInContainer {
    grid-column: 1/-1;
    width: 97vw;
    padding: 50px 1vw;
  }
}
@media (min-width: 850px) {
  .notLoggedInContainer {
    padding: 50px 10px;
    width: 830px;
  }
}
