.notLoggedInContainer {
  color: white;
  border-radius: 5px;
  margin: 0 auto 150px auto;
  background-color: var(--custom-blue);
  width: 80vw;
  padding: 50px 10px;
  text-align: center;
}
.notLoggedInContainer p {
  max-width: 300px;
  margin: 20px auto;
}
@media (min-width: 600px) {
  .notLoggedInContainer {
    width: 600px;
    padding: 50px 0px;
  }
}
@media (min-width: 850px) {
  .notLoggedInContainer {
    width: 840px;
  }
}
