:root {
  --custom-blue: #1c6582;
  --custom-blue-transparent: rgba(28, 101, 130, 0.6);
  --custom-yellow: #ffd600;
  --error-blueBg: #ffcccc;
  --success-blueBg: #aae4c0;
  --success: #28804a;
  --error: #b90000;
}
