@import '../../styles/customColors.css';
.allVenueSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.allVenueSection h2 {
  width: 100vw;
  text-align: center;
  background-color: var(--custom-blue);
  color: white;
  padding: 15px 0;
  margin-top: 0;
}
@media (min-width: 600px) {
  main {
    overflow: hidden;
  }
  .allVenueSection {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    margin: 0 auto;
  }
  .allVenueSection h2 {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-bottom: 0;
  }
  .searchAndFilter {
    grid-column: 1;
    grid-row: 2;
  }
  .venues {
    grid-column: 2;
    grid-row: 2;
  }
}
.availableVenues {
  width: fit-content;
  margin: 30px auto 10px auto;
  font-size: 1.3em;
}
.resultsContainer button {
  background-color: var(--custom-yellow);
  height: 35px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
}
@media (min-width: 800px) {
  .allVenueSection {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    margin: 0 auto;
  }
}
