.loginSection {
  margin: 200px auto;
  background-color: var(--custom-blue);
  padding: 20px;
  width: 80vw;
  color: white;
  border-radius: 5px;
}
.loginSection form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSection h1 {
  text-align: center;
}
.loginSection label {
  margin-bottom: 5px;
}
.inputCon {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 15px;
  margin: 15px auto;
}
.input {
  width: 100%;
  height: 25px;
}
.inputCon p {
  margin: 0 0 2px 0;
  color: var(--error-blueBg);
  font-size: 0.9em;
}
.errorActiveNone {
  display: none;
}
.errorActive {
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  color: rgb(197, 2, 2);
  background-color: rgba(255, 255, 255, 0.4);
}
.loginBtn {
  background-color: var(--custom-yellow);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 180px;
  min-height: 38px;
  margin: 20px auto;
}
.loginBtn:hover {
  background-color: white;
}
.linkCon {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.linkCon a {
  margin-left: 10px;
  color: var(--custom-yellow);
}
@media (min-width: 600px) {
  .loginSection {
    width: 600px;
    padding: 40px 0px;
  }
}
