.loginSection {
  margin: 170px auto 50px auto;
  background-color: var(--custom-blue);
  padding: 10px;
  width: 80vw;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--custom-yellow);
}
.loginSection form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginSection h1 {
  text-align: center;
  margin-bottom: 20px;
}
.loginSection label {
  margin-bottom: 5px;
}
.inputCon {
  display: flex;
  flex-direction: column;
  width: 226px;
  margin-bottom: 15px;
  margin: 15px auto;
}
.errorActiveNone {
  display: none;
}
.eyeAndInputWrapper {
  padding: 1px 2px 1px 2px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
.inputPassword {
  width: 100%;
  height: 25px;
  border: 0;
}
.eye {
  width: 30px;
  border: 0;
}

@media (min-width: 600px) {
  .loginSection {
    width: 500px;
  }
}
