.loginFormContainer {
  background-color: var(--custom-blue);
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--custom-yellow);
  width: 80vw;
}
.loginSection {
  display: flex;
  margin: 170px auto 50px auto;
}
.loginFormContainer form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginFormContainer h1 {
  text-align: center;
  margin-bottom: 20px;
}
.loginFormContainer label {
  margin-bottom: 5px;
}
.inputCon {
  display: flex;
  flex-direction: column;
  width: 226px;
  margin-bottom: 15px;
  margin: 15px auto;
}
.errorActiveNone {
  display: none;
}
.eyeAndInputWrapper {
  padding: 1px 2px 1px 2px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
.inputPassword {
  width: 100%;
  height: 25px;
  border: 0;
}
.eye {
  width: 30px;
  border: 0;
}
.imgWrapper {
  display: none;
}
.imgWrapper img {
  height: 100%;
  width: 100%;
}
@media (min-width: 600px) {
  .loginFormContainer {
    width: 300px;
    min-height: 440px;
    padding: 0;
    border: 0;
    border-radius: 0 5px 5px 0;
  }
  .imgWrapper {
    display: block;
    max-width: 300px;
    max-height: 100%;
  }
  .imgWrapper img {
    border-radius: 5px 0 0 5px;
  }
  .loginSection {
    max-width: 600px;
    border: 2px solid var(--custom-yellow);
    border-radius: 5px;
  }
}
@media (min-width: 800px) {
  .loginFormContainer {
    width: 400px;
  }
  .imgWrapper {
    display: block;
    max-width: 400px;
  }
  .imgWrapper img {
    border-radius: 5px 0 0 5px;
  }
  .loginSection {
    max-width: 800px;
    border: 2px solid var(--custom-yellow);
    border-radius: 5px;
  }
}
