.rentOutVenueForm {
  background-color: var(--custom-blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
  border-radius: 5px;
  margin: 30px auto 50px auto;
  border: 2px solid var(--custom-yellow);
  padding-top: 30px;
}
.included div {
  margin: 5px auto 5px auto;
}
.errorHide {
  display: none;
}
.errorCon {
  margin-top: 15px;
}
.rentOutHeading {
  font-size: 1.5em;
  text-align: center;
  background-color: var(--custom-blue);
  color: white;
  padding: 10px;
}
@media (min-width: 600px) {
  .rentOutVenueForm {
    max-width: 600px;
  }
}
