@import '../../styles/customColors.css';
.allBookingsCon {
  margin: 10px auto 150px auto;
}
.totalBookings {
  text-align: center;
  font-size: 1.1em;
}
.upComingBookingsCardContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 80vw;
  margin: 50px auto;
  text-align: center;
  position: relative;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
.upComingBookingsCard h3 {
  background-color: var(--custom-blue);
  color: white;
  padding: 5px;
  width: 78vw;
  padding: 2vw 1vw 2vw 1vw;
  word-wrap: break-word;
}
.loading {
  text-align: center;
}
.messageHide {
  display: none;
}
.exitBtn {
  display: flex;
  justify-content: end;
}
.error p {
  margin: 20px 20px 40px 20px;
}
.error button {
  width: fit-content;
  border-radius: 100%;
  font-size: 1.2em;
  border: 0;
  background-color: white;
}
.imgCon img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.noBookings {
  margin: 30px auto 100px auto;
  text-align: center;
}
.imgCon {
  width: 80vw;
  height: 150px;
  border-radius: 10px;
}
.checkInCheckOutWrapper {
  display: flex;
  justify-content: center;
}
.checkInCheckOut {
  background-color: var(--custom-blue);
  width: 95px;
  height: 85px;
  border-radius: 10px;
  color: white;
  margin: 0 10px;
}
.deleteOverlay {
  width: 80vw;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
}
.deleteOverlay p {
  margin: 50px 20px 30px 20px;
}
.deleteOverlay div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deleteOverlay button {
  margin: 10px auto;
}
.deleteOverlayHide {
  display: none;
}
.deleteBtn,
.cancelSureBtn {
  margin: 5px;
  width: 180px;
  height: 30px;
}
.total {
  font-size: 1.1em;
  font-weight: bold;
}
.btnCon {
  width: 80vw;
  display: flex;
  justify-content: end;
}

@media (min-width: 601px) {
  .deleteOverlay {
    width: 600px;
    border: 2px solid black;
    padding: 20px 0;
  }
  .upComingBookingsCardContentWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 600px;
    height: 230px;
  }
  .total {
    margin: 16px 10px 0 auto;
  }
  .guestAndPriceWrapper {
    margin: 0 auto;
  }
  .upComingBookingsCard h3 {
    width: 100%;
    padding: 10px 0;
    margin-top: 0;
    border-radius: 0 10px 0 0;
  }
  .imgCon img {
    width: 150px;
    height: 230px;
    border-radius: 10px 0 0 10px;
  }
  .bookingInfoContainer {
    display: flex;
  }
  .imgCon {
    width: 150px;
  }
  .btnCon {
    width: 100%;
  }
  .deleteBtn {
    margin: 20px 10px 10px 0;
  }
}
@media (min-width: 701px) {
  .upComingBookingsCardContentWrapper,
  .deleteOverlay {
    width: 700px;
  }
  .bookingInfoAndBtnWrapper {
    width: 100%;
  }
}
