.searchBarContainer,
.searchBarContainerActive {
  display: flex;
  width: fit-content;
}
.searchBarContainer input,
.searchBarContainerActive input {
  width: 212px;
  height: 34px;
  border: 1px solid black;
  border-right: 0;
  border-radius: 10px 0 0 10px;
}
.magnifyingGlass,
.magnifyingGlassActive {
  background-color: white;
  display: flex;
  align-items: center;
  width: 22px;
  border: 1px solid black;
  border-left: 0;
  border-radius: 0 10px 10px 0;
}
.magnifyingGlassActive {
  border-radius: 0 10px 0 0;
}
.searchBarContainerActive input {
  border-radius: 10px 0 0 0;
}
