header {
  background-color: #1c6582;
}
.logoAndNavContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 5px;
}
.headerImgWrapperAndHamburger {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;
}
.hamburger {
  color: white;
  font-size: 1.5em;
  margin-bottom: 2px;
  margin-right: 20px;
}
.displayNone {
  display: none;
}
.hamburgerWrapper {
  display: flex;
  max-width: fit-content;
}
.exitHamburger {
  display: block;
  color: white;
  font-size: 1.5em;
}

.img {
  max-width: 100px;
  max-height: 100px;
}
@media (min-width: 600px) {
  .img {
    max-width: 120px;
    max-height: 120px;
  }
  .hamburger,
  .exitHamburger {
    display: none;
  }
  .logoAndNavContainer {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}
