@import '../../styles/customColors.css';
header {
  background-color: var(--custom-blue);
  position: fixed;
  width: 100vw;
  z-index: 3;
}
.logoAndNavContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 5px;
}
.headerImgWrapperAndHamburger {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;
}

.hamburger {
  color: white;
  font-size: 2em;
  margin-bottom: 2px;
  margin-right: 20px;
}
.displayNone {
  display: none;
}

.hamburgerAndAvatarWrapper {
  display: flex;
  max-width: fit-content;
  margin: 0 20px 0 0;
  align-items: center;
  height: 34px;
}
.exitHamburger {
  display: block;
  color: white;
  font-size: 1.5em;
}

.img {
  max-width: 100px;
  max-height: 100px;
}

.userName {
  color: white;
  margin: 10px 20px 5px auto;
}
@media (min-width: 601px) {
  .headerAvatarMobile {
    display: none;
  }
  .userName {
    display: none;
  }
  .img {
    max-width: 120px;
    max-height: 120px;
  }
  .hamburger,
  .exitHamburger {
    display: none;
  }
  .logoAndNavContainer {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}
