.searchBarAndFilterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .searchBarAndFilterContainer {
    background-color: var(--custom-blue);
    height: 100%;
    padding-top: 30px;
  }
}
