@import '../../styles/customColors.css';
.rentOutLink {
  background-color: var(--custom-yellow);
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  max-width: 178px;
  min-height: 36px;
  line-height: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.rentOutLink:hover {
  background-color: white;
}
