@import '../../styles/customColors.css';
.bookingsOnVenueContainer {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 50px;
}
.bookingsOnVenueContainer h4 {
  margin: 5px auto;
}
.bookingsOnVenueContainer p {
  margin: 5px auto;
}
.headingSection {
  text-align: center;
  margin: 0 auto;
}
.headingSection h2 {
  text-align: center;
  padding: 10px;
  background-color: var(--custom-blue);
  color: white;
}
.headingEachCard {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  text-align: center;
  font-size: 1.2em;
  flex-wrap: wrap;
}
.venueName {
  font-weight: bold;
}
.headingEachCard p {
  margin: 15px 5px 0 5px;
  font-size: 1.2em;
}
.bookingCard {
  display: flex;
  background-color: var(--custom-blue);
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70vw;
  margin: 20px auto;
  word-wrap: break-word;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}
.customerDiv {
  margin: 0 0 0 20px;
}
.customerDiv p {
  word-break: break-all;
}
.noBookings,
.noBookingsHeading {
  text-align: center;
  margin: 30px auto 100px auto;
}
@media (max-width: 601px) {
  .bookingCard {
    flex-direction: column;
  }
  .customerDiv {
    margin: 0;
  }
}
@media (min-width: 801px) {
  .bookingsOnVenueContainer {
    max-width: 800px;
  }
  .bookingCard {
    width: 680px;
  }
}
@media (min-width: 1100px) {
  .bookingsOnVenueContainer {
    max-width: 900px;
  }
}
