@import '../../styles/customColors.css';
.welcomeSection {
  background-image: url('../../../public/pictures/backGImage.jpg');
  background-size: cover;
  margin-top: 70px;
  min-height: 600px;
}
.WelcomeMessageContainer {
  margin: 150px auto 50px auto;
  background-color: var(--custom-blue-transparent);
  color: white;
  max-height: 300px;
  max-width: 420px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.WelcomeMessageContainer h1,
.WelcomeMessageContainer h2 {
  width: fit-content;
  text-align: center;
  margin: 10px 0;
}
.buttonContainer {
  height: 150px;
  max-width: 250px;
  text-align: center;
}
@media (min-width: 434px) {
  .WelcomeMessageContainer {
    border-radius: 10px;
  }
}
@media (min-width: 601px) {
  .WelcomeMessageContainer {
    margin-top: 200px;
    max-height: 220px;
    padding: 20px 0 20px 0;
  }
}
@media (min-width: 1920px) {
  .welcomeSection {
    background-size: contain;
    background-position: center;
  }
}
