@import '../../styles/customColors.css';
.singUpSectionForm {
  background-color: var(--custom-blue);
  padding: 10px;
  width: 80vw;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--custom-yellow);
}
.signUpSection {
  display: flex;
  margin: 170px auto 50px auto;
}
.singUpSectionForm form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singUpSectionForm h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputCon {
  display: flex;
  flex-direction: column;
  width: 226px;
  margin-bottom: 15px;
  margin: 15px auto;
}
.singUpSection label {
  margin-bottom: 5px;
}
.eyeAndInputWrapper {
  padding: 1px 2px 1px 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
input[type='radio'] {
  accent-color: var(--custom-yellow);
  transform: scale(1.2);
}
.eye {
  width: 30px;
  border: 0;
}
.inputPassword {
  width: 100%;
  height: 25px;
  border: 0;
}
.fieldsetSignUp {
  text-align: center;
  max-width: 226px;
}
.imgWrapper {
  display: none;
}
.imgWrapper img {
  height: 100%;
  width: 100%;
}
.singUpSection fieldset label {
  margin-top: 10px;
}
.errorWithFormNone {
  display: none;
}
@media (min-width: 601px) {
  .singUpSectionForm {
    width: 298px;
    border: 0;
    border-radius: 0 5px 5px 0;
  }
  .imgWrapper {
    display: block;
    max-width: 298px;
  }
  .imgWrapper img {
    border-radius: 5px 0 0 5px;
  }
  .signUpSection {
    max-width: 596px;
    border: 2px solid var(--custom-yellow);
    border-radius: 5px;
  }
}
@media (min-width: 801px) {
  .singUpSectionForm {
    width: 398px;
  }
  .imgWrapper {
    display: block;
    max-width: 398px;
  }
  .imgWrapper img {
    border-radius: 5px 0 0 5px;
  }
  .signUpSection {
    max-width: 796px;
    border: 2px solid var(--custom-yellow);
    border-radius: 5px;
  }
}
