@import '../../styles/customColors.css';
.singUpSection {
  margin: 170px auto 50px auto;
  background-color: var(--custom-blue);
  padding: 10px;
  width: 80vw;
  color: white;
  border-radius: 5px;
  border: 2px solid var(--custom-yellow);
}
.singUpSection form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.singUpSection h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputCon {
  display: flex;
  flex-direction: column;
  width: 226px;
  margin-bottom: 15px;
  margin: 15px auto;
}
.singUpSection label {
  margin-bottom: 5px;
}
.eyeAndInputWrapper {
  padding: 1px 2px 1px 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
input[type='radio'] {
  accent-color: var(--custom-yellow);
  transform: scale(1.2);
}
.eye {
  width: 30px;
  border: 0;
}
.inputPassword {
  width: 100%;
  height: 25px;
  border: 0;
}
.singUpSection fieldset {
  text-align: center;
  width: 220px;
}
.singUpSection fieldset label {
  margin-top: 10px;
}
.errorWithFormNone {
  display: none;
}
.linkCon {
  display: flex;
  align-items: center;
}
.linkCon a {
  margin-left: 10px;
  color: var(--custom-yellow);
}
@media (min-width: 600px) {
  .singUpSection {
    width: 600px;
  }
  .singUpSection fieldset {
    width: 300px;
  }
}
