@import '../../styles/customColors.css';
.included {
  margin: 0 auto;
  width: 180px;
}
form input[type='checkbox'] {
  width: 18px;
  height: 18px;
}
form input[type='checkbox']:checked {
  accent-color: var(--custom-yellow);
}
