@import '../../styles/customColors.css';
.venueInfoCon {
  background-color: var(--custom-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  color: white;
  padding: 50px 10px;
  margin: 20px auto;
  border-radius: 5px;
}
.includesCon,
.descCon {
  border-bottom: 1px solid white;
  width: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.includesCon ul {
  list-style: none;
  width: 90%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.includesCon li {
  padding: 5px;
  background-color: white;
  color: black;
  margin: 5px 5px;
  text-align: center;
  border-radius: 5px;
  height: 25px;
  font-weight: bold;
  width: 70px;
}
.descCon p {
  margin: 5px auto 5px 10px;
}
.venueInfoCon ul {
  padding: 10px;
}
.venueInfoCon h1 {
  margin: 5px;
  text-align: center;
  word-wrap: break-word;
  max-width: 100%;
}
.boldP {
  font-weight: bold;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.loactionCon,
.ownerCon {
  border: solid white;
  border-width: 1px 0 1px 0;
  width: 100%;
}
.ownerCon {
  border-width: 0 0 1px 0;
}
.locationContent,
.venueManagerContent {
  display: flex;
  margin: 5px auto;
}
.locationContent p,
.venueManagerContent p {
  margin: 5px 0 0 10px;
  max-width: 60vw;
  word-wrap: break-word;
}
.venueInfoCon h3 {
  margin-bottom: 15px;
  text-align: center;
}
.maxGuests {
  font-weight: bold;
  margin: 20px auto 10px auto;
}
.avatarCon {
  margin: 10px auto;
  text-align: center;
}
.avatarCon img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid white;
}
@media (min-width: 601px) {
  .locationContent p {
    max-width: 30vw;
  }
  .avatarCon img {
    width: 125px;
    height: 125px;
  }
  .venueInfoCon {
    margin-top: 0;
    padding: 4vw 1vw;
    width: 47vw;
  }
  .venueManager,
  .locationAddress {
    font-size: 1em;
  }
}
@media (min-width: 851px) {
  .locationContent p {
    max-width: 300px;
  }
  .locationAddress,
  .ownerCon {
    max-width: 400px;
  }
  .venueInfoCon {
    padding: 50px 10px;
    width: 400px;
  }
  .includesCon ul {
    width: 400px;
  }
}
